{% extends "layouts/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card">
    <div class="card-header">{{titulo}} </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            {% comment %} {% for campo in form %}
                <div class="form-group">
                    <label for="">{{campo.label}}</label>
                    {{campo}}
                </div>
                <div>{{campo.errors}}</div>
            {% endfor %} {% endcomment %}
            <div class="row mt-3">
                <div class="col-12">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <button class="btn btn-secondary" onclick="javascript:window.history.go(-1);">Cancelar</button>        
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}

<div class="card">
    <div class="card-header">{{titulo}} </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for campo in form %}
                <div class="form-group">
                    <label for="">{{campo.label}}</label>
                    {{campo}}
                </div>
                <div>{{campo.errors}}</div>
            {% endfor %}
            <div class="row mt-3">
                <div class="col-12">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <button class="btn btn-secondary" onclick="javascript:window.history.go(-1);">Cancelar</button>        
                </div>
            </div>
        </form>
    </div>
</div>


