{%extends 'layouts/base.html'%} 
{% load static %}

{% block titulo %}ELIMINAR ACTIVIDAD{% endblock titulo %}
{% block content %}
<div class="container">
 <div class="row">

<div>
    <form action="" method="post">
{% csrf_token %}
<p><strong>¿Desear eliminar {{object.nombre}}</strong></p>

<button type="submit">confirmar</button>
<div class="text-center">
    
</div><a href="{%url 'lista_actividades' %}" class="btn btn-primary" >Volver</a>
    </form>

</div>

</div> 
</div>
{% endblock content %}