{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
   
{% for message in messages %}
    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
{% endfor %}
    <a href="{%url 'crear_socio' %}" class="btn btn-success btn-lm">NUEVO SOCIO</a>

    <form method="get" action="{% url 'index_socios' %}" class="mb-3">
        <div class="input-group">
            <input type="text" id="q" name="q" class="form-control" placeholder="Nro Socio, Dni, Apellido">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nro. Socio</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
               
                
            </tr>
        </thead>
        <tbody>
            {% for socio in socios %}
                <tr>
                    <td>{{ socio.nroSocio }}</td>
                    <td>{{ socio.nombre }}</td>
                    <td>{{ socio.apellido }}</td>
                    
                    
                      <td>
                       <a  class="btn btn-warning btn-sm " href="{% url 'editar_socio' socio.id %}">Editar</a>
                       <a class="btn btn-danger btn-sm" href="{% url 'eliminar_socio' socio.id %}">Eliminar</a>
                       <a class="btn btn-primary btn-sm" href="{% url 'detalle_socio' socio.id %}">Detalle</a>
                      </td>
                     
                    <th>
                       
                        
              {% endfor %}         
                
           
        </tbody>
    </table>
</div>

{% endblock content %}